/* src/styles/components/LeafAnimation.module.css */
.canvasBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-index-base);
  background: linear-gradient(
    to bottom,
    var(--color-background-secondary),
    var(--color-background-primary)
  );
  touch-action: none;
  pointer-events: auto;
}